Twisted==17.9.0
beautifulsoup4==4.6.0
lxml==4.2.1
psutil==5.4.3
python-dateutil==2.7.2
ply==3.11
enum34==1.1.6
twitter==1.18.0
requests==2.18.4
pytimeparse==1.1.7
pymysql==0.8.0
pycryptodome==3.6.0
pyasn1==0.4.2
isodate==0.6.0
google-api-python-client==1.6.6
pyxDamerauLevenshtein==1.5
numpy==1.14.2
Cython==0.28.1
git+git://github.com/andreasvc/pyre2.git@7146ce3#egg=re2
parsedatetime==2.4
cryptography==2.2.2
future==0.16.0
six==1.11.0
ruamel.yaml==0.15.37
croniter==0.3.20
